---
import Layout from '../core/layouts/main.astro';
import { Main } from '../modules/user-profile-setup';
---

<Layout
	title="Profile setup · Amoria"
>
	<main
		class="page-bg min-h-screen flex items-center justify-center p-4 md:p-8"
	>
		<Main client:load />
	</main>
</Layout>
